@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

body {
  background-color: white;
  color: red;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
}

header {
  background-color: grey;
  flex-grow: 0.15;
}
.center {
  background-color: black;
  flex-grow: 0.9;
}
footer {
  background-color: grey;
  flex-grow: 0.05;
}
